// 清除浮动
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

// 滚动条
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  // 滚动条-滚动槽
  &::-webkit-scrollbar-track-piece {
    background: #eef1f5;
  }

  // 滚动条-滚动槽-滑块
  &::-webkit-scrollbar-thumb {
    background-color: rgb(166 168 172 / 30%);
    border-radius: 20px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(166 168 172 / 50%);
      transition: background-color 0.3s;
    }
  }
}

